{% extends "baseActivation.twig" %}

{% block content %}
     <div class="row">
                    {% for item in data %}
                        <h2 style="display:block; width:100%;"><a href="#" style="color:#000; text-decoration:none;">{{ item }}</a></h2>
                         <table class="table activation-tables">
                        <tr>    
                            <td width="1%" style="background-color:#D8AB4C;"></td>
                            <td width="25%"> </td>
                            <td width="11%">sIRB Status</td>
                            <td width="11%">Contract</td>
                            <td width="11%">Site Documents</td>
                            <td width="11%">PI Documents</td>
                            <td width="11%">Primary Coordinator</td>
                            <td width="11%">Pharmacist</td>
                            <td width="11%">Site Activated</td>

                        </tr>
                        <tr>    
                            <td width="1%" style="background-color:#D8AB4C;"></td>
                            <td width="20%">Site Status for Category </td>
                            <td width="11%">
                                <li>Initialted</li>
                                <li>Awaiting Site Response</li>
                                <li>Awaiting VUMC Response</li>
                                <li>Complete</li>
                            </td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                        </tr>
                         <tr>    
                            <td width="1%" style="background-color:#D8AB4C;"></td>
                            <td width="20%">sIRB Survey Sent</td>
                            <td width="11%">
                                    <li>Initialted</li>
                                    <li>Awaiting Site Response</li>
                                    <li>Awaiting VUMC Response</li>
                                    <li>Complete</li>
                                </td>
                                <td width="11%">Date</td>
                                <td width="11%">Date</td>
                                <td width="11%">Date</td>
                                <td width="11%">Date</td>
                                <td width="11%">Date</td>
                                <td width="11%">Date</td>
                        </tr>
                          <tr>    
                            <td width="1%" style="background-color:#D8AB4C;"></td>
                            <td width="20%">sIRB Survey Received</td>
                            <td width="11%">
                                <li>Initialted</li>
                                <li>Awaiting Site Response</li>
                                <li>Awaiting VUMC Response</li>
                                <li>Complete</li>
                            </td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                        </tr>
                         <tr>    
                            <td width="1%" style="background-color:#D8AB4C;"></td>
                            <td width="20%">sIRB Survey Accepted and Part 2 provided </td>
                            <td width="11%">
                                <li>Initialted</li>
                                <li>Awaiting Site Response</li>
                                <li>Awaiting VUMC Response</li>
                                <li>Complete</li>
                            </td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                        </tr>

                          <tr>    
                            <td width="1%" style="background-color:#D8AB4C;"></td>
                            <td width="20%">sIRB Survey Accepted and Part 2 provided </td>
                             <td width="11%">
                                <li>Initialted</li>
                                <li>Awaiting Site Response</li>
                                <li>Awaiting VUMC Response</li>
                                <li>Complete</li>
                            </td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                            <td width="11%">Date</td>
                        </tr>
                       
                            

                       </table>
                    {% endfor %}
                </div>

{% endblock %}